body, html { padding: 0; margin: 0; height: 100%; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #eee;
}

a {
  color: #00B7FF;
}

/* Pages */

.mainPage {
  padding-top: 64px;
}

.introPage {
  width: 100%;
  height: 100%;
}

.introPageCenter {
  margin: 0 auto;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  width: 150px;
}

.introPageCenterLogo {
  background: url("/images/logo.png") no-repeat center;
  background-size: 100%;
  height: 45px;
}

.introPageCenterSlogan {
  height: 20px;
  text-align: center;
  color: #fff;
  font: "Roboto", sans-serif;
}

.introBackground {
  background-image: radial-gradient(49% 104%, #26D64E 3%, #085900 100%);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(-181deg, #26D54D 3%, #26D34C 100%);
}

.navWrapper {
  position: relative;
}

.navWrapperLogo {
  margin: 0 auto;
  margin-top: 7px;
  width: 130px;
}

.navWrapperBackButton {
  left: 10px;
}

.navWrapperMenuButton {
  right: 10px;

  stroke:white;
  stroke-width:4;
  stroke-linecap:round;
}

.navWrapperButton {
  position: absolute;
  top: 3px;
  width:30px;
  height:30px;
}

/* Menu Bar */

.menuBar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 64px 10px 0 10px;
  background-image: linear-gradient(-181deg, #26D54D 3%, #26D34C 100%);
  width: 256px;
  z-index: 1;
  box-shadow: -2px 0 8px #555;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin: 100px auto;
}

.posts {
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

.posts .row {
  display: flex;
  align-items: center;
}

.posts .col {
  padding: 5px;
}


.posts-empty {
  text-align: center;
  padding: 50px;
}

.itemView {
  margin-top: 100px;
}

.posts-refresh {
  margin: 20px auto;
  text-align: center;
  display: block;
}

.posts-refresh svg {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  fill: grey;
}

.posts-profile {
  background: #eee;
  width: 48px;
  height: 48px;
  margin: 50% auto 0;
  transform: translateY(-50%);
}

.posts-profile-icon {
  background: #eee;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}

.card-votes {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #bbb;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.card-votes a {
  color: #bbb;
}

.card-upvotes, .card-downvotes {

}

.card-upvotes {

}

.card-downvotes {

}

/** Login */
.loginPage
{
  display: block;
}

.registerPage
{
  display: none;
}

.error-text
{
  color: #F00;
}

/** MATERIALIZE OVERRIDES */

.card .card-content {
  padding: 0px;
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  margin-top: 5px;
}


/** Animation **/

.posts-refresh-animate svg {
  animation: spin;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

.page-animate-left {
  /*animation: moveleft;*/
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.page-animate-right {
  /*animation: moveleft;*/
  animation-duration: 2s;
  animation-iteration-count: 1;
}


/* KEYFRAMES */

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
