extends layout

block content
  h1= title
  p Welcome to #{title}
  a(class="waves-effect waves-light btn", onClick=('onRefresh()')) Button
  ul(id="")
    each val in items
      li= val.message
  script(src='/javascripts/index.js')
