extends layout

block content
 .card(style="width: 800px; margin: 20px auto; ")
  .loginPage
    .row
     form(class="col s12 l6" id="frm-login" onsubmit="return false;")
      h1(style="font-size:20px; margin-left:10px") Login
      .row
       .input-field.col.s12
         input(id="usernameemail" type="text")
         label(for="usernameemail") Username / Email
      .row
       .input-field.col.s12
         input(id="password-login" type="password")
         label(for="password-login") Password
      .row
       i(id="login-error" class="col s12 error-text")
      .row
       button(class="btn waves-effect waves-light col l4 s6 offset-l8 offset-s6" onClick="onManualSignIn()") Login
     
     form(class="col s12 l6" id="frm-register" onsubmit="return false;")
      h1(style="font-size:20px; margin-left:10px") Create Account
      .row
       .input-field.col.s12
         input(id="email" type="email" class="validate")
         label(for="email" data-error="Invalid Email") Email
      .row
       .input-field.col.s12
         input(id="password-register" type="password")
         label(for="password") Password
         i Passwords must be at least 8 characters long
      .row
       i(id="register-error" class="col s12 error-text")
      .row
       button(class="btn waves-effect waves-light col l4 s6 offset-l8 offset-s6" onClick='showRegisterPage()') Create Account
    div(style="margin: 10px auto; width: 300px; padding: 10px;")
      #google-signin-button
  .registerPage
    .row
      form(class="col s12" id="frm-register2" onsubmit="return false;")
        h1(style="font-size:20px; margin-left:10px") Finish creating your account
        .row
          .input-field.col.s12
            input(id="username" type="text")
            label(for="username") Username
        .row
         button(onClick='onFinialiseRegister()' class="btn waves-effect waves-light col l4 s6 offset-l8 offset-s6") Create Account
  
    script(src="/javascripts/keys.js")
    script(src="/javascripts/login.js")
    script(src="https://apis.google.com/js/platform.js?onload=onGooglePlatformLoaded", async, defer)
