extends layout

block content
  #loggedOut(style="display: none;opacity:0;")
    h2 Sucessfully Logged Out
    p
      a(href="./") Log back in
  #loggingOut
    h2 Logging out...
    
  script(src="/javascripts/keys.js")
  script(src="/javascripts/logout.js")
  script(src="https://apis.google.com/js/platform.js?onload=onGooglePlatformLoaded", async, defer)
